@model CreateProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> @ViewData["Title"] </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="~/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <partial name="_TopNavPartial" />
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- book section -->
    <section class="book_section offset-3 mt-5 mb-5">
        <div class="container">
            <div class="heading_container">
                <h2>
                    @ViewData["Title"]
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form method="post">
                            <div>
                                <input asp-for="Name" class="form-control" placeholder="The product's Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="ImageUrl" class="form-control" placeholder="URL of the product's image" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Description" class="form-control" placeholder="What ingredients it contains?" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Weight" class="form-control" placeholder="Product weight in grams" value="" />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Price" class="form-control" placeholder="Product's price" value="" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div>
                                <select class="form-control nice-select wide" asp-for="SizeId">
                                    <option value=@null disabled selected>
                                        Select Size
                                    </option>
                                    @foreach (var size in Model.Sizes)
                                    {
                                        <option value="@size.Id">@size.Name</option>
                                    }
                                    <span asp-validation-for="SizeId" class="text-danger"></span>
                                </select>
                            </div>
                            <div>
                                <select class="form-control nice-select wide" asp-for="CategoryId">
                                    <option value=@null disabled selected>
                                        Select Category
                                    </option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </select>
                            </div>
                            <div class="btn_box">
                                <button type="submit" class="offset-4">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->
    <!-- footer section -->
    <partial name="_FooterPartial"></partial>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

</body>

</html>